@import url('../fonts/stylesheet.css');

body {
    font-family: 'Ginka TRIAL';
    font-weight: normal;
    color: #272727;

    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #272727;
}

.flex-root {
    flex: 1;
}

.flex-column-fluid {
    flex: 1 0 auto;
}

.flex-column-auto {
    flex: none;
}

.flex-row-fluid {
    flex: 1 auto;
    min-width: 0;
}

.breadcrumb-item a {
    color: #272727;
}

.min-h-100 {
    min-height: 100vh;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.03em;
    text-align: center;
}

.form-check-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.form-control {
    height: 41.31px;
    border-radius: 12px;
    border: 1px solid #272727;
    transition: 0.3s all ease;
    font-family: 'Ginka TRIAL';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.03em;
}

.form-control:focus,
.form-control:focus-visible,
.form-control:focus-within,
.form-control:active {
    border-radius: 12px;
    border: 1px solid #272727;
    outline: none;
    box-shadow: 0px 4px 10px 0px #00000040;
}

textarea.form-control {
    height: 100%;
}

.form-check {
    min-height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-check-input {
    width: 14.46px;
    height: 13.43px;
    border-radius: 4px;
    border: 1px solid #272727;

    float: none !important;
    margin: 0px !important;
    vertical-align: unset !important;
}

.form-check-input:focus,
.form-check-input:focus-visible,
.form-check-input:focus-within,
.form-check-input:active,
.form-check-input:visited {
    border-radius: 4px;
    outline: none;
    box-shadow: none;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41.31px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px #E9444B40;

    font-family: 'Ginka TRIAL';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.03em;
    text-align: center;
}

.btn-primary {
    background: #55BD8B;
    border-color: #55BD8B;
    color: #ffffff;
}

.btn-primary:hover {
    background: #1f1e30;
    border-color: #1f1e30;
}

.btn-secondary {
    background: #1f1e30;
    border-color: #1f1e30;
    color: #ffffff;
}

.btn-secondary:hover {
    background: #55BD8B;
    border-color: #55BD8B;
}

.btn-social {
    background: transparent;
    color: #272727;
}

.btn-social:hover {
    border-color: #55BD8B;
}

.btn-close:active,
.btn-close:focus,
.btn-close:focus-visible,
.btn-close:focus-within {
    box-shadow: none;
    outline: none;
}

.text-primary {
    color: #55BD8B !important;
}

.text-secondary {
    color: #1f1e30 !important;
}

.text-dark {
    color: #272727 !important;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F8F8F8;
    background-clip: border-box;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(76, 87, 125, .02);
    border: 0;
}

.card .card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.card-header .card-title {
    font-size: 20px;
    font-weight: 500;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card .card-body {
    padding: 1rem 1.5rem;
}

.card-light {
    background-color: #ECECEC;
    border-radius: 20px;
}

.card-light .card-body {
    padding: 2rem 2rem;
}


table thead tr th {
    background-color: #E0E0E0 !important;
    border: 0px;
    color: #272727 !important;
    font-weight: 500 !important;
}

table tbody tr td {
    background-color: transparent !important;
    border: 0px;
    color: #272727 !important;
    font-weight: 400;
}




.rounded-start {
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.rounded-end {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}



.accordion {
    border: 0px;
    border-radius: 0px;
}

.accordion .accordion-item {
    background-color: transparent;
    border: 0px;
    border-radius: 0 !important;
    border-bottom: 1px solid #dee2e6;
}

.accordion .accordion-item .accordion-button {
    background-color: transparent;
    font-weight: 500;
    color: #212529 !important;
}

.accordion .accordion-item .accordion-button:focus,
.accordion .accordion-item .accordion-button:focus-visible,
.accordion .accordion-item .accordion-button:focus-within,
.accordion .accordion-item .accordion-button:active {
    box-shadow: none;
    outline: none;
}











.auth-image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.auth-form {
    padding: 2rem 0;
}

.auth-form-header {
    text-align: center;
}

.auth-form-header h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 40.8px;
    letter-spacing: 0.03em;
    text-align: center;
}

.auth-form-header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.03em;
    text-align: center;
}

.auth-form-body {
    margin-top: 2rem;
}

.forgot-password {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.03em;
    color: #272727;
}

.auth-form-footer p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-align: center;
}

.otp-form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.otp-inputbar {
    width: 50px;
    height: 50px;
    border-radius: 5.6px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #1f1e30;
}

.otp-inputbar:focus,
.otp-inputbar:focus-visible,
.otp-inputbar:focus-within,
.otp-inputbar:active {
    border-radius: 5.6px;
    color: #ffffff;
    background: #1f1e30;
}




/* Dashboard Layout */
#wrapper {
    background-color: #E0E0E0;
    min-height: 100vh;
    flex: 1;
}


/* Sidebar */
.sidebar-wrapper {
    background-color: #f8f8f8 !important;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 28px 0 rgba(82, 63, 105, .05);
    padding: 0;
}

.offcanvas-lg.offcanvas-start {
    width: 265px;
}

.sidebar-wrapper .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 25px;
}

.sidebar-wrapper .sidebar-logo {
    display: none;
}

.sidebar-wrapper .sidebar-logo img,
.sidebar-wrapper .offcanvas-header img {
    height: 30px;
}

.sidebar-toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.5rem + 2px);
}

.sidebar-toggle svg {
    width: 1.75rem;
    height: 1.75rem;
}

.sider-scroll-wrapper {
    overflow-y: hidden;
    position: relative;
}

.sider-scroll-wrapper .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sider-scroll-wrapper .menu .menu-item {
    display: block;
    padding: 0;
}

.sider-scroll-wrapper .menu .menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    outline: 0 !important;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    color: #4C4C4C;
}

.sider-scroll-wrapper .menu .menu-item .menu-link:hover {
    color: #55BD8B;
    transition: color .2s ease;
}

.sider-scroll-wrapper .menu .menu-item .menu-link.active {
    color: #55BD8B;
}

.menu-item .menu-link .menu-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 2rem;
    margin-right: .5rem;
}

.menu-item .menu-link .menu-icon svg {
    width: 1.20rem;
    height: 1.20rem;
    line-height: 1;
}

.menu-item .menu-link .menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.sider-scroll-wrapper .menu .menu-item .menu-link:hover .menu-icon svg path,
.sider-scroll-wrapper .menu .menu-item .menu-link.active .menu-icon svg path {
    fill: #55BD8B;
    stroke: #55BD8B;
}


/* Page Wrapper */
.page-wrapper {
    padding-top: 65px;
}


/* Header */
.header-wrapper {
    background-color: #f8f8f8 !important;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, .05);
    padding: 0;
    height: 65px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header-wrapper .header-logo img {
    height: 30px;
}

.header-toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.5rem + 2px);
}

.header-toggle svg {
    width: 1.75rem;
    height: 1.75rem;
}

.header-wrapper .header-menu {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}



/* Content Wrapper */
.content-wrapper {
    padding: 15px 0;
}


/* Content Header */
.content-header {
    margin-bottom: 1.75rem;
}

.content-header-title {
    font-size: 36px;
}



.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
}

.stats-title {
    font-size: 20px;
    font-weight: 500;
}

.stats-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.stats-count {
    font-size: 40px;
    font-weight: 700;
}




/* Section */
.section-title {
    font-size: 30px;
    font-weight: 500;
}

.section-card {
    background-color: #ECECEC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 330px;
    padding: 1rem 1.75rem;
    margin-bottom: 1.5rem;
}

.section-top h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.section-top .section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.section-top .section-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.section-body .section-price {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}



/* Funds Card */
.payment-methods {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(76, 87, 125, .02);
    transition: 0.3s ease all;
    padding: 1rem;
    width: 180px;
    height: 180px;
    border: 2px solid transparent;
}
.payment-methods img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .payment-methods {
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.payment-methods img {
    border-radius: 5px;
} */

.payment-methods.active.paypal-method,
.payment-methods.paypal-method:hover {
    border-color: #019CDE;
    transition: 0.3s ease all;
}

.payment-methods.active.visa-method,
.payment-methods.wire-method:hover {
    border-color: #55BD8B;
    transition: 0.3s ease all;
}

.payment-methods.active.wise-method,
.payment-methods.visa-method:hover {
    border-color: #083400;
    transition: 0.3s ease all;
}

.funds-card {
    background-color: #E0E0E0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 200px;
    padding: 1rem 1.75rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 2px solid #E0E0E0;
    transition: 0.3s ease all;
    cursor: pointer;
}

.funds-card .funds-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.funds-card .funds-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.funds-card .funds-price {
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #212529;
}

.funds-card.gift-card:hover {
    border: 2px solid #C71511;
    transition: 0.3s ease all;
}

.funds-card.paypal-card:hover {
    border: 2px solid #019CDE;
    transition: 0.3s ease all;
}

.funds-card.visa-card:hover {
    border: 2px solid #55BD8B;
    transition: 0.3s ease all;
}




/* Detail Page */
.purchase-btn {
    width: 25%;
}

.detail-page-image {
    border-radius: 20px;
}

.detail-page-tabs {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    justify-content: flex-start;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-top: 1px solid #D2D2D2;
}

.detail-page-tabs .detail-page-link {
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.detail-page-tabs .detail-page-link.active,
.detail-page-tabs .detail-page-link:hover {
    color: #55BD8B;
}

.detail-page-tabs .detail-page-link.active::before,
.detail-page-tabs .detail-page-link:hover::before {
    content:"";
    display: block;
    position: absolute;
    top: calc(-0.75rem - 4px);
    left: 0px;
    height: 8px;
    width: 100%;
    background-color: #55BD8B;
    border-radius: 17px;
}

.detail-page-content {
    padding: 0.75rem 1.5rem;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input {
    display: none;
}
.star-rating label {
    cursor: pointer;
    width: 1.1em;
    font-size: 1.5em;
    color: #ddd;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
    color: #ffca08;
}



/* Credit Card CSS */
.card-form-group {
    position: relative;
}

.ccicon {
    height: 24px;
    position: absolute;
    right: 10px;
    top: calc(50% - 12px);
    width: auto;
}





/* Checkout Progress */
.progress-bar {
    background-color: #55BD8B;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.progress-step {
    font-weight: 500;
}

.progress-step.active {
    color: #55BD8B;
}

.progress-content {
    margin-top: 1.5rem;
}

.progress-content .progress-pane {
    display: none;
}

.progress-content .progress-pane.show {
    display: block;
}
